@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@300;400;500;700;800&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #444444;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  user-select: none;
  overflow: hidden;
}

section {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.section-title {
  width: 100%;
  color: #8536ec;
  font-weight: 500;
  font-size: 70px;
  margin: 120px 0 30px 130px;
  text-shadow: 4px 4px #c9b8d4;
  &:hover {
    cursor: default;
  }
}

.cta {
  -webkit-user-drag: none;
  &:hover {
    cursor: pointer;
  }
}

.Background {
  position: relative;
  width: 100%;
  height: 100%;
  svg {
    position: absolute;
    z-index: -2;
  }
}

.back-to-top-arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 36px;
  z-index: 3;
  background-color: #a3a3a3;
  box-shadow: 2px 2px #7e7e7e;
  padding: 6px 3px 6px 9px;
  cursor: pointer;
  &:hover {
    background-color: #a8a8a8;
    box-shadow: 2px 2px #8a8a8a;
  }
  &:active {
    background-color: #868686;
    box-shadow: 2px 2px #616161;
  }
  svg {
    fill: #ffffff;
  }
}

.Navbar {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  height: 169px;
  z-index: 1;
  .name {
    margin: 40px 275px 75px 0;
    color: #a74cf1;
    font-family: 'Courier New';
    font-weight: 500;
    font-size: 48px;
    user-select: text;
    text-shadow: 1px 1px #d39dff;
  }
  .theme-switch {
    position: relative;
    width: 26px;
    height: 26px;
    margin-top: 60px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    &:hover {
      cursor: pointer;
    }
    .theme-switch-button {
      background-image: linear-gradient(180deg, #dbdbdb 50%, #acacac 100%);
      height: 16px;
      width: 16px;
      border-radius: 16px;
      border: 2px solid #e9e9e9;
      z-index: 2;
      &:hover {
        background-image: linear-gradient(180deg, #bdbdbd 50%, #868686 100%);
        border: 2px solid #dddddd;
      }
      &:active {
        background-image: linear-gradient(180deg, #a1a1a1 50%, #7a7a7a 100%);
        border: 2px solid #b9b9b9;
      }
    }
  }
  .projects-button {
    margin-top: 54px;
    margin-right: 16px;
    color: #8a42e7;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
    text-shadow: 1px 1px #c1a4db;
    &:hover {
      color: #682aaf;
    }
    &:active {
      color: #3a0b70;
    }
  }
  .contact-button {
    margin-top: 50px;
    margin-left: 16px;
    background-color: #6d13c2;
    color: #f7f8ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 7px 13px 9px 11px;
    border-radius: 6px;
    max-height: 28px;
    display: flex;
    align-items: center;
    text-shadow: 2px 1px #4e2f86;
    box-shadow: 3px 3px #211161;
    &:hover {
      background-color: #8239c5;
      color: #ffffff;
    }
    &:active {
      background-color: #550f97;
      color: #e1e4ff;
    }
  }
}

.Hero {
  .gradient {
    background-image: linear-gradient(90deg, #212121 50%, #2c2c2c 100%);
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    height: 503px;
    width: 1151px;
    .gradient-left {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 80px;
      margin-left: 90px;
      h2 {
        color: #efdeff;
        max-width: 445px;
        font-weight: 400;
        font-size: 40px;
        text-shadow: 3px 2px #3f2d8a;
        &:hover {
          cursor: default;
        }
      }
      a {
        text-align: center;
        background-color: #f8f0ff;
        color: #6904c7;
        padding: 7px 10px;
        max-width: 160px;
        border-radius: 10px;
        margin-left: 65px;
        margin-top: 80px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 25px;
        box-shadow: 4px 4px #211161;
      }
      #show-me-button {
        text-shadow: 1px 1px #b1a7bb;
        &:hover {
          background-color: #ffffff;
          color: #731bc5;
        }
        &:active {
          color: #550f97;
          background-color: #d9cde0;
        }
      }
    }
    .gradient-right {
      max-width: 50%;
      margin-right: 60px;
      display: flex;
      align-items: center;
      .character {
        width: 500px;
        height: 400px;
        svg {
          transform: scaleX(-1) scale(0.9);
          -webkit-user-drag: none;
        }
      }
    }
  }
}

.About {
  .about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .about-me-skills {
      background-color: #aaaaaa;
      margin-left: 20px;
      border-radius: 17px;
      border-bottom: 5px solid #a203f8;
      width: 280px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .first-half,
      .second-half {
        display: flex;
        flex-direction: column;
        .icon-parent {
          width: 85px;
          height: 85px;
          display: inline-block;
          margin-bottom: 5px;
          svg {
            width: 100%;
            height: 100%;
            -webkit-user-drag: none;
          }
        }
      }
      .first-half {
        margin: 25px 32px 10px 0;
      }
    }
    .about-me-text {
      background-color: #aaaaaa;
      border-bottom: 5px solid #a203f8;
      border-radius: 17px;
      display: flex;
      align-items: center;
      .about-me-paragraph {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        p {
          color: #303030;
          max-width: 575px;
          padding: 15px 50px 15px 30px;
          font-weight: 500;
          font-size: 28px;
          text-shadow: 1px 1px #ad8fc7;
          &:hover {
            cursor: default;
          }
        }
      }
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 50px;
  h1 {
    position: relative;
    left: 17.2%;
    color: #8536ec;
    font-weight: 500;
    font-size: 70px;
    margin: 120px 0 30px 130px;
    text-shadow: 4px 4px #c9b8d4;
    &:hover {
      cursor: default;
      user-select: none;
    }
  }
  .film {
    transform: rotateZ(-5deg) skew(-5deg);
    .projects-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #2b2b2b;
      z-index: 1;
      .project {
        margin: 0 20px;
        z-index: 2;
        transform: scale(1);
        transition: .2s transform ease;
        &:hover {
          transform: scale(1.1);
          transition: .2s ease;
          transition-property: transform, opacity;
        }
        .project-image {
          width: 370px;
          height: 215px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.2;
            transform: scale(1);
            transition: .2s transform ease;
          }
          &:hover::after {
            opacity: 0.1;
            transform: scale(1.1);
            transition: .2s ease;
            transition-property: transform, opacity;
          }
          &:active::after {
            opacity: 0.35;
          }
          img {
            width: 100%;
            height: 100%;
            -webkit-user-drag: none;
          }
        }
      }
      .blank-project-left {
        margin-left: 20px;
        z-index: 2;
        width: 90px;
        height: 215px;
        background-color: #212121;
      }
      .blank-project-right {
        margin-right: 20px;
        z-index: 2;
        width: 90px;
        height: 215px;
        background-color: #212121;
      }
    }
    .film-backside {
      width: 60%;
      height: 200px;
      bottom: -38px;
      left: -1px;
      position: absolute;
      background-color: #1d1d1d;
      transform: rotateZ(5deg) skew(5deg);
      z-index: -1;
    }
  }
  .Squares {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #2b2b2b;
    height: 60px;
    width: 100%;
    z-index: 2;
    .Square {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 11px;
      border-radius: 2px;
      background-color: #cacaca;
      z-index: 2;
    }
    .first-square {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 11px 0 20px;
      border-radius: 2px;
      background-color: #cacaca;
      z-index: 2;
    }
    .last-square {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 20px 0 11px;
      border-radius: 2px;
      background-color: #cacaca;
      z-index: 2;
    }
  }
}

.Contact {
  margin-top: 50px;
  h1 {
    position: relative;
    color: #8536ec;
    font-weight: 500;
    font-size: 70px;
    left: 13%;
    margin: 120px 0 30px 0; 
  }
  .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
    .form {
      display: flex;
      flex-direction: column;
      .text-input {
        background-color: #aaaaaa;
        border-bottom: 5px solid #a203f8;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 20px;
        padding: 0 15px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #dfdfdf;
        }
      }
      .name-input {
        height: 35px;
        margin-bottom: 20px;
        width: 380px;
        border-radius: 5px;
      }
      .body-input {
        width: 493px;
        padding-top: 8px;
        height: 212px;
        margin-bottom: 20px;
        resize: none;
        border-radius: 5px;
      }
      #submit-button {
        border-radius: 5px;
        background-color: #6d13c2;
        color: #f7f8ff;
        width: 100%;
        height: 40px;
        padding-top: 1px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 22px;
        text-shadow: 2px 1px #4e2f86;
        &:hover {
          background-color: #8239c5;
          color: #ffffff;
        }
        &:active {
          background-color: #550f97;
          color: #e1e4ff;
        }
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 90px;
      text-shadow: 2px 2px #4c058f;
      #GitHub-button {
        .link-image {
          svg {
            fill: #dddddd;
          }
        }
        &:hover {
          color: #9660cc;
        }
        &:active {
          color: #51009c;
        }
      }
      #resume-button {
        .link-image {
          margin-top: 7px;
          svg {
            fill: #dddddd;
          }
        }
        &:hover {
          color: #9660cc;
        }
        &:active {
          color: #51009c;
        }
      }
      #LinkedIn-button {
        margin-top: 9px;
        .link-image {
          svg {
            fill: #dddddd;
          }
        }
        &:hover {
          color: #9660cc;
        }
        &:active {
          color: #51009c;
        }
      }
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #8834d6;
        img {
          -webkit-user-drag: none;
        }
        h2 {
          margin-left: 8px;
          font-weight: 600;
          font-size: 54px;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #555555;
  &:hover {
    background: #666666;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9a9a9a;
  &:hover {
    border-radius: 5px;
    background: #5a5a5a;
  }
  &:active {
    border-radius: 5px;
    background: #555555;
  }
}

::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #555555;
  &:hover {
    border-radius: 5px;
    background: #666666;
  }
  &:active {
    border-radius: 5px;
    background: #555555;
  }
}