@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&family=Poppins:wght@300;400;500;700;800&display=swap');

* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-image: url(../public/images/background.svg);
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  overflow: hidden;
}

section {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.section-title {
  width: 100%;
  color: #080d4a;
  font-weight: 500;
  font-size: 70px;
  margin: 120px 0 30px 130px;
}

.cta {
  &:hover {
    cursor: pointer;
  }
}

.Navbar {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  .name {
    margin: 40px 275px 75px 0;
    color: #3f185f;
    font-family: 'Courier New';
    font-weight: 500;
    font-size: 48px;
  }
  .project-button {
    margin-top: 54px;
    margin-right: 16px;
    color: #080e4a;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 28px;
  }
  .contact-button {
    margin-top: 50px;
    margin-left: 16px;
    background-color: #6d13c2;
    color: #f7f8ff;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 7px 13px 9px 11px;
    border-radius: 6px;
    max-height: 28px;
    display: flex;
    align-items: center;
  }
}

.Hero {
  .gradient {
    background-image: linear-gradient(90deg, #963dea 50%, #ab67eb 100%);
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    height: 503px;
    width: 1151px;
    .gradient-left {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 80px;
      margin-left: 90px;
      h2 {
        color: #efdeff;
        max-width: 445px;
        font-weight: 400;
        font-size: 40px;
      }
      a {
        text-align: center;
        background-color: #f8f0ff;
        color: #6904c7;
        padding: 7px 10px;
        max-width: 160px;
        border-radius: 10px;
        margin-left: 65px;
        margin-top: 80px;
        font-family: 'Poppins', sans-serif;
        font-weight: 500;
        font-size: 25px;
        box-shadow: 4px 4px #211161;
      }
    }
    .gradient-right {
      max-width: 50%;
      .character {
        img {
          transform: scaleX(-1);
          max-width: 80%;
          max-height: 80%;
          margin-top: 10%;
          margin-left: 5%;
        }
      }
    }
  }
}

.About {
  .about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .about-me-skills {
      background-color: #f2f2f2;
      margin-left: 10px;
      border-bottom: 5px solid #3e0b6b;
      .skill-images {
        max-width: 376px;
        text-align: center;
        margin-top: 50px;
        img {
          max-width: 115px;
          max-height: 115px;
        }
      }
    }
    .about-me-text {
      background-color: #f2f2f2;
      border-bottom: 5px solid #3e0b6b;
      .about-me-paragraph {
        p {
          color: #080e4a;
          max-width: 575px;
          padding: 30px 50px 30px 50px;
          font-weight: 500;
          font-size: 28px;
        }
      }
    }
  }
}

.Projects {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  h1 {
    position: relative;
    left: 14.5%;
    color: #080d4a;
    font-weight: 500;
    font-size: 70px;
    margin: 120px 0 30px 130px;
  }
  .film {
    transform: rotateZ(-5deg) skew(-5deg);
    .projects-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      background-color: #2b2b2b;
      z-index: 1;
      &::after {
        content: '';
        position: absolute;
        margin: auto 0;
        top: 0;
        left: 0;
        width: 100%;
        height: 101%;
        background-color: #2b2b2b;
        z-index: 1;
      }
      .project {
        margin: 0 20px;
        z-index: 2;
        .project-image {
          width: 370px;
          height: 215px;
          position: relative;
          &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: #000000;
            opacity: 0.2;
          }
          img {
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  .Squares {
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    background-color: #2b2b2b;
    height: 60px;
    width: 100%;
    z-index: 2;
    .Square {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 11px;
      border-radius: 2px;
      background-color: #ffffff;
      z-index: 2;
    }
    .FirstSquare {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 11px 0 20px;
      border-radius: 2px;
      background-color: #ffffff;
      z-index: 2;
    }
    .LastSquare {
      position: relative;
      width: 20px;
      height: 20px;
      margin: 0 20px 0 11px;
      border-radius: 2px;
      background-color: #ffffff;
      z-index: 2;
    }
  }
}

.textInput {
  color: #a8a8a8;
  background-color: #f2f2f2;
}

.Contact {
  h1 {
    position: relative;
    color: #080d4a;
    font-weight: 500;
    font-size: 70px;
    margin: 120px 0 30px 65px; 
  }
  .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
    .form {
      display: flex;
      flex-direction: column;
      .textInput {
        color: #868686;
        border-bottom: 4px solid #3e0b6b;
        font-family: 'Montserrat', sans-serif;
        font-weight: 600;
        font-size: 20px;
        padding: 0 15px;
        &:focus {
          outline: none;
        }
        &::placeholder {
          color: #a8a8a8;
        }
      }
      .nameInput {
        height: 35px;
        margin-bottom: 20px;
        width: 380px;
      }
      .bodyInput {
        width: 493px;
        padding-top: 8px;
        height: 212px;
        margin-bottom: 35px;
        resize: none;
      }
      button {
        background-color: #6d13c2;
        color: #f7f8ff;
        width: 100%;
        height: 40px;
        padding-top: 1px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        font-size: 22px;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 90px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #3e0078;
        h2 {
          margin-left: 8px;
          font-weight: 600;
          font-size: 54px;
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #ffffff;
  &:hover {
    background: #e1e1e1;
  }
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background: #9a9a9a;
  &:hover {
    border-radius: 5px;
    background: #787878;
  }
  &:active {
    border-radius: 5px;
    background: #555555;
  }
}

::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background: #9a9a9a;
  &:hover {
    border-radius: 5px;
    background: #787878;
  }
  &:active {
    border-radius: 5px;
    background: #555555;
  }
}