@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700&family=Poppins:wght@300;500;600&display=swap");

* {
  border: 0;
  padding: 0;
  margin: 0;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  background-color: #444444;
}

#root {
  display: flex;
  justify-content: center;
}

.App {
  width: 100%;
  max-width: 1600px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  user-select: none;
  overflow: hidden;
  height: 2930px;
}

@mixin flexJustifyAlign() {
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  max-width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
}

a {
  text-decoration: none;
}

.section-title {
  width: 100%;
  font-weight: 500;
  font-size: 70px;
  margin: 120px 0 30px 130px;
  &:hover {
    cursor: default;
  }
}

.cta {
  -webkit-user-drag: none;
  &:hover {
    cursor: pointer;
  }
}

.Background {
  position: relative;
  width: 100%;
  height: 100%;
  svg {
    position: absolute;
    z-index: -2;
  }
}

.back-to-top-arrow {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  border-radius: 36px;
  z-index: 3;
  padding: 6px 3px 6px 9px;
  cursor: pointer;
}

.dark,
.light {
  width: 100%;
}

.Navbar {
  display: flex;
  flex-direction: row !important;
  width: 100%;
  height: 169px;
  z-index: 1;
  .name {
    margin: 40px 275px 75px 0;
    font-family: "Courier New";
    font-weight: 500;
    font-size: 48px;
    user-select: text;
  }
  .theme-switch {
    position: relative;
    width: 26px;
    height: 26px;
    margin-top: 61px;
    margin-right: 35px;
    @include flexJustifyAlign;
    &:hover {
      cursor: pointer;
    }
  }
  .projects-button {
    margin-top: 54px;
    margin-right: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 28px;
    height: 30px;
  }
  .contact-button {
    margin-top: 50px;
    margin-left: 16px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    font-size: 25px;
    padding: 7px 13px 9px 11px;
    border-radius: 6px;
    max-height: 28px;
    display: flex;
    align-items: center;
  }
}
.Hero {
  .gradient {
    border-radius: 80px;
    display: flex;
    flex-direction: row;
    height: 503px;
    width: 1151px;
    .gradient-left {
      display: flex;
      flex-direction: column;
      width: 50%;
      margin-top: 80px;
      margin-left: 90px;
      h2 {
        max-width: 445px;
        font-weight: 400;
        font-size: 40px;
        &:hover {
          cursor: default;
        }
      }
      a {
        text-align: center;
        padding: 7px 10px;
        max-width: 160px;
        border-radius: 10px;
        margin-left: 65px;
        margin-top: 80px;
        font-family: "Poppins", sans-serif;
        font-weight: 500;
        font-size: 25px;
      }
    }
    .gradient-right {
      max-width: 50%;
      margin-right: 60px;
      display: flex;
      align-items: center;
      .character {
        width: 500px;
        height: 400px;
        .shadow {
          position: relative;
          top: 2.1%;
          left: 2.1%;
        }
        svg {
          position: relative;
          bottom: 119%;
          transform: scaleX(-1) scale(0.9);
          -webkit-user-drag: none;
        }
      }
    }
  }
}
.About {
  margin-top: 60px;
  .about-me-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    .about-me-skills {
      margin-left: 20px;
      border-radius: 17px;
      width: 280px;
      @include flexJustifyAlign;
      flex-direction: row;
      .first-half,
      .second-half {
        display: flex;
        flex-direction: column;
        .icon-parent {
          width: 85px;
          height: 85px;
          display: inline-block;
          margin-bottom: 5px;
          svg {
            width: 100%;
            height: 100%;
            -webkit-user-drag: none;
          }
        }
      }
      .first-half {
        margin: 25px 32px 10px 0;
      }
    }
    .about-me-text {
      border-radius: 17px;
      display: flex;
      align-items: center;
      .about-me-paragraph {
        @include flexJustifyAlign;
        flex-direction: column;
        p {
          max-width: 575px;
          padding: 15px 50px 15px 30px;
          font-weight: 500;
          font-size: 28px;
          &:hover {
            cursor: default;
          }
        }
      }
    }
  }
}
.Projects {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  margin-top: 20px;
  h1 {
    position: relative;
    left: 17.2%;
    font-weight: 500;
    font-size: 70px;
    margin: 120px 0 30px 130px;
    &:hover {
      cursor: default;
      user-select: none;
    }
  }
  .film {
    transform: rotateZ(-5deg) skew(-5deg);
    .projects-content {
      display: flex;
      flex-direction: row;
      justify-content: center;
      z-index: 1;
      .project {
        margin: 0 20px;
        z-index: 2;
        transform: scale(1);
        transition: 0.2s transform ease;
        &:hover {
          transform: scale(1.1);
          transition: 0.2s ease;
          transition-property: transform, opacity, border-bottom;
        }
        .project-image {
          width: 370px;
          height: 215px;
          position: relative;
          &::after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            opacity: 0.2;
            transform: scale(1);
            transition: 0.2s transform ease;
          }
          &:hover::after {
            opacity: 0.1;
            transition: 0.2s ease;
            transition-property: transform, opacity;
          }
          &:active::after {
            opacity: 0;
          }
          img {
            width: 100%;
            height: 100%;
            -webkit-user-drag: none;
          }
        }
      }
      .blank-project-left,
      .blank-project-right {
        z-index: 2;
        width: 90px;
        height: 215px;
      }
      .blank-project-left {
        margin: auto 0 auto 20px;
      }
      .blank-project-right {
        margin: auto 20px auto 0;
      }
    }
    .film-backside {
      width: 60%;
      height: 200px;
      bottom: -38px;
      left: -1px;
      position: absolute;
      transform: rotateZ(5deg) skew(5deg);
      z-index: -1;
    }
  }
  .TopSquares,
  .BottomSquares {
    @include flexJustifyAlign;
    flex-direction: row;
    height: 55px;
    width: 100%;
    z-index: 2;
    .Square,
    .first-square,
    .last-square {
      position: relative;
      width: 20px;
      height: 20px;
      border-radius: 2px;
      z-index: 2;
    }
    .Square {
      margin: 0 11px;
    }
    .first-square {
      margin: 0 11px 0 20px;
    }
    .last-square {
      margin: 0 20px 0 11px;
    }
  }
  .TopSquares {
    padding-top: 5px;
  }
  .BottomSquares {
    padding-bottom: 5px;
  }
  .project-menu {
    height: 600px;
    width: 1200px;
    position: absolute;
    z-index: 4;
    top: 184%;
    left: 10.88%;
    border-radius: 10px;
    .project-menu-top {
      width: 100%;
      height: 10%;
      top: 2%;
      left: 0;
      position: relative;
      @include flexJustifyAlign;
      .project-menu-section-button {
        a {
          margin: 0 25px;
          font-weight: 500;
          font-size: 20px;
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
      .close-menu-button {
        position: absolute;
        right: 1.9%;
        top: 12%;
        width: 15px;
        height: 15px;
        border-radius: 50%;
        cursor: pointer;
        font-weight: 500;
        font-size: 20px;
      }
    }
    .project-menu-left-arrow,
    .project-menu-right-arrow {
      position: absolute;
      height: 35px;
      width: 35px;
      top: 50%;
      cursor: pointer;
    }
    .project-menu-left-arrow {
      left: 1%;
      transform: rotate(-90deg);
    }
    .project-menu-right-arrow {
      right: 1%;
      transform: rotate(90deg);
    }
    .project-menu-section {
      position: relative;
      z-index: 4;
      left: 12.2%;
      top: 4%;
      width: 550px;
      .project-menu-photos-section {
        position: relative;
        z-index: 5;
        width: 915px;
        height: 480px;
        .page-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 30px;
          .page-number {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            left: 28.5%;
            bottom: 1%;
            .photos-bubble {
              margin: 0 2px;
              height: 7px;
              width: 7px;
              border-radius: 50%;
              z-index: 6;
              position: relative;
            }
          }
          .photos-section-image {
            display: flex;
            flex-direction: column;
            top: 0;
            height: 300px;
            position: absolute;
            height: 480px;
            width: 550px;
            animation: fadeInFromBottom 0.4s ease;
            img {
              max-height: 480px;
              object-fit: contain;
              margin: auto 0;
            }
            .left-arrow,
            .right-arrow {
              position: absolute;
              height: 20px;
              width: 20px;
              top: 50%;
              z-index: 4;
              cursor: pointer;
            }
            .left-arrow {
              left: 1%;
              transform: rotate(-90deg);
            }
            .right-arrow {
              right: 1%;
              transform: rotate(90deg);
            }
          }
          .photos-section-text {
            display: flex;
            flex-direction: column;
            right: 0;
            top: 0;
            position: absolute;
            background-color: #444444;
            width: 340px;
            height: 480px;
            animation: fadeInFromBottom 0.4s ease;
            h2 {
              color: white;
              margin: 35px 0 15px 20px;
            }
            .body-text {
              color: white;
              margin-left: 20px;
            }
            .made-in-text {
              color: white;
              font-weight: 600;
              margin-left: 20px;
              margin-top: 30px;
            }
          }
        }
      }
      .project-menu-technology-section {
        z-index: 5;
        width: 915px;
        height: 480px;
        .technology-wrapper {
          position: absolute;
          animation: fadeInFromBottom 0.4s ease;
          z-index: 5;
          width: 915px;
          height: 480px;
          @include flexJustifyAlign;
          flex-direction: row;
          .technology-top {
            width: 290px;
            height: 280px;
            display: flex;
            margin-right: 15px;
            p {
              display: inline-block;
              margin: 20px 0;
              text-align: right;
              margin: auto 21px;
            }
          }
          .technology-bottom {
            width: 273px;
            display: flex;
            align-items: center;
            .skills-wrapper {
              width: 273px;
              text-align: left;
              .technology-skill {
                display: inline-block;
                height: 30px;
                margin: 5px;
                padding: 0 10px;
                border-radius: 5px;
              }
            }
          }
        }
      }
      .project-menu-case-study-section {
        position: relative;
        z-index: 5;
        width: 915px;
        height: 480px;
        display: flex;
        align-items: center;
        flex-direction: column;
        .page-content {
          display: flex;
          flex-direction: column;
          justify-content: center;
          position: absolute;
          animation: fadeInFromBottom 0.4s ease;
          margin-top: 5%;
          min-height: 355px;
          .page-number {
            position: absolute;
            display: flex;
            flex-direction: row;
            align-items: center;
            left: 47.5%;
            bottom: -20%;
            .case-study-bubble {
              margin: 0 2px;
              height: 7px;
              width: 7px;
              border-radius: 50%;
              z-index: 6;
              position: relative;
            }
          }
          .case-study-challenge {
            max-width: 400px;
            h2 {
              margin: 5px;
              text-align: left;
            }
            p {
              margin: 0 20px 5% 30px;
              padding-left: 10px;
            }
          }
          .case-study-solution {
            max-width: 400px;
            h2 {
              margin: 5px;
              text-align: right;
            }
            p {
              text-align: right;
              margin: 0 20px 5% 30px;
              padding-right: 10px;
            }
          }
          .case-study-learned {
            max-width: 400px;
            h2 {
              margin: 5px;
              text-align: left;
            }
            p {
              margin: 0 20px 0 30px;
              padding-left: 10px;
            }
          }
          .left-arrow,
          .right-arrow {
            position: absolute;
            height: 20px;
            width: 20px;
            top: 50%;
            cursor: pointer;
          }
          .left-arrow {
            left: -15%;
            transform: rotate(-90deg);
          }
          .right-arrow {
            right: -15%;
            transform: rotate(90deg);
          }
        }
      }
    }
  }
}
.Contact {
  margin-top: 90px;
  h1 {
    position: relative;
    font-weight: 500;
    font-size: 70px;
    left: 13%;
    margin: 120px 0 30px 0;
  }
  .contact-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 80px;
    .form {
      display: flex;
      flex-direction: column;
      .text-input {
        font-family: "Montserrat", sans-serif;
        font-weight: 600;
        font-size: 20px;
        padding: 0 15px;
        &:focus {
          outline: none;
        }
      }
      .name-input {
        height: 35px;
        margin-bottom: 20px;
        width: 380px;
        border-radius: 5px;
      }
      .body-input {
        width: 493px;
        padding-top: 8px;
        height: 212px;
        margin-bottom: 20px;
        resize: none;
        border-radius: 5px;
      }
      #submit-button {
        border-radius: 5px;
        width: 100%;
        height: 40px;
        padding-top: 1px;
        font-family: "Poppins", sans-serif;
        font-weight: 600;
        font-size: 22px;
      }
    }
    .links {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      margin-left: 90px;
      a {
        display: flex;
        flex-direction: row;
        align-items: center;
        img {
          -webkit-user-drag: none;
        }
        h2 {
          margin-left: 8px;
          font-weight: 600;
          font-size: 54px;
        }
      }
      #resume-button {
        .link-image {
          margin-top: 7px;
        }
      }
      #LinkedIn-button {
        margin-top: 9px;
      }
    }
  }
}
.Credits {
  margin: 0 auto;
  position: relative;
  min-height: 210px;
  .open {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-bottom: 50px;
    .credits-left-side,
    .credits-right-side {
      display: inline;
      width: 20px;
      height: 180px;
      cursor: pointer;
      animation: creditsSideDivEnlarge 0.4s ease;
    }
    .credits-wrapper {
      display: flex;
      flex-direction: column;
      height: 180px;
      justify-content: center;
      animation: creditsWrapperEnlarge 0.4s ease;
      h2 {
        margin-bottom: 5px;
        animation: creditsTextFadeIn 0.6s ease;
      }
      .credit-element {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 5px;
        animation: creditsTextFadeIn 0.6s ease;
        h3,
        a {
          margin-right: 10px;
        }
      }
    }
  }
  .closed {
    margin-top: 100px;
    .credits-button {
      padding: 10px 20px;
      border-radius: 5px;
      font-weight: 500;
      font-size: 20px;
    }
  }
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color: #adadad;
  &:hover {
    border-radius: 5px;
  }
  &:active {
    border-radius: 5px;
  }
}

::-webkit-scrollbar-button {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  &:hover {
    border-radius: 5px;
  }
  &:active {
    border-radius: 5px;
  }
}

$purple: #a203f8;
$dark-purple: #862ed8;
$darker-purple: #7426bd;

.dark {
  .section-title {
    color: #000000;
    text-shadow: 3px 3px #f1f1f1;
  }
  .back-to-top-arrow {
    background-color: #aaaaaa;
    box-shadow: 2px 2px #000000;
    svg {
      fill: $purple;
    }
    &:hover {
      background-color: #bdbdbd;
      box-shadow: 2px 2px #474747;
      svg {
        fill: $purple;
      }
    }
    &:active {
      background-color: #868686;
      box-shadow: 2px 2px #616161;
    }
  }
  .Navbar {
    .name {
      color: #dadada;
      text-shadow: 1px 1px #797979;
    }
    .theme-switch {
      .theme-switch-button {
        svg {
          border-radius: 50%;
          border: 2px solid #fff;
        }
      }
    }
    .projects-button {
      color: #dadada;
      text-shadow: 1px 1px #474747;
      &:hover {
        color: $purple;
      }
      &:active {
        color: $darker-purple;
      }
    }
    .contact-button {
      background-color: #353535;
      color: #dadada;
      text-shadow: 2px 1px #474747;
      box-shadow: 3px 3px $purple;
      &:hover {
        background-color: $purple;
        color: #ffffff;
      }
      &:active {
        background-color: $darker-purple;
        color: #e1e4ff;
      }
    }
  }
  .Hero {
    .gradient {
      background-image: linear-gradient(90deg, #212121 50%, #2c2c2c 100%);
      .gradient-left {
        h2 {
          color: #adadad;
          text-shadow: 3px 2px #424242;
        }
        a {
          background-color: #353535;
          color: #dfdfdf;
          box-shadow: 4px 4px $purple;
        }
        #show-me-button {
          text-shadow: 1px 1px #b1a7bb;
          &:hover {
            background-color: $dark-purple;
            color: #ffffff;
          }
          &:active {
            color: #ffffff;
            background-color: $darker-purple;
          }
        }
      }
    }
  }
  .About {
    .about-me-content {
      .about-me-skills,
      .about-me-text {
        background-color: #2c2c2c;
        border-bottom: 5px solid $purple;
        .about-me-paragraph {
          p {
            color: #dfdfdf;
            text-shadow: 2px 2px #252525;
          }
        }
      }
    }
  }
  .Projects {
    h1 {
      color: #000000;
      text-shadow: 3px 3px #f1f1f1;
    }
    .film {
      .projects-content {
        background-color: #2b2b2b;
        .project {
          border-top: 5px solid #2b2b2b;
          border-bottom: 5px solid #2b2b2b;
          &:hover {
            border-bottom: 5px solid $dark-purple;
          }
          .project-image {
            &::after {
              background-color: #000000;
            }
          }
        }
        .blank-project-left,
        .blank-project-right {
          background-color: #212121;
        }
      }
      .film-backside {
        background-color: #1d1d1d;
      }
    }
    .TopSquares,
    .BottomSquares {
      background-color: #2b2b2b;
      .Square,
      .first-square,
      .last-square {
        background-color: #cacaca;
      }
    }
    .project-menu {
      background-color: #333333;
      .project-menu-top {
        .project-menu-section-button {
          color: white;
          a {
            text-shadow: 2px 2px #212121;
            &:hover {
              text-decoration-color: $dark-purple;
            }
            &:active {
              color: $darker-purple;
            }
          }
        }
        .close-menu-button {
          background-color: $purple;
          &:hover {
            background-color: #c251ff;
          }
          &:active {
            background-color: #8205c5;
          }
        }
      }
      .project-menu-left-arrow,
      .project-menu-right-arrow {
        svg {
          fill: $purple;
        }
      }
      .project-menu-section {
        .project-menu-photos-section {
          background-color: #2c2c2c;
          .page-content {
            .photos-section-image {
              background-color: #232323;
              .left-arrow,
              .right-arrow {
                svg {
                  fill: $purple;
                }
              }
            }
            .photos-section-text {
              background-color: #444444;
              border-left: 5px solid $dark-purple;
              h2,
              .body-text {
                color: white;
                text-shadow: 2px 2px #212121;
              }
              .made-in-text {
                color: white;
                text-shadow: 1px 1px $dark-purple;
              }
            }
          }
        }
        .project-menu-technology-section {
          background-color: #2c2c2c;
          .technology-wrapper {
            .technology-top {
              border-right: 5px solid $dark-purple;
              p {
                text-shadow: 2px 2px #212121;
                color: white;
              }
            }
            .technology-bottom {
              .skills-wrapper {
                .technology-skill {
                  color: rgb(228, 228, 228);
                  background-color: #8849d4;
                }
              }
            }
          }
        }
        .project-menu-case-study-section {
          background-color: #2c2c2c;
          .page-content {
            .case-study-challenge {
              h2,
              p {
                color: white;
              }
              p {
                border-left: 5px solid $purple;
              }
            }
            .case-study-solution {
              h2,
              p {
                color: white;
              }
              p {
                border-right: 5px solid $purple;
              }
            }
            .case-study-learned {
              h2,
              p {
                color: white;
              }
              p {
                border-left: 5px solid $purple;
              }
            }
            .left-arrow,
            .right-arrow {
              svg {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
  .Contact {
    .contact-content {
      .form {
        .text-input {
          color: #dfdfdf;
          background-color: #2c2c2c;
          border-bottom: 5px solid $purple;
          &::placeholder {
            color: #acacac;
          }
        }
        #submit-button {
          background-color: #353535;
          color: #f7f8ff;
          text-shadow: 2px 1px $darker-purple;
          box-shadow: 3px 3px $purple;
          &:hover {
            background-color: #424242;
            color: #ffffff;
          }
          &:active {
            background-color: $darker-purple;
            color: #e1e4ff;
          }
        }
      }
      .links {
        text-shadow: 2px 2px $purple;
        #GitHub-button {
          .link-image {
            svg {
              fill: #dddddd;
            }
          }
          &:hover {
            color: #dfdfdf;
            svg {
              fill: #fefefe;
            }
          }
          &:active {
            color: #51009c;
            svg {
              fill: #dcb6ff;
            }
          }
        }
        #resume-button {
          .link-image {
            svg {
              fill: #dddddd;
            }
          }
          &:hover {
            color: #fefefe;
            svg {
              fill: #dddddd;
            }
          }
          &:active {
            color: #51009c;
            svg {
              fill: #dcb6ff;
            }
          }
        }
        #LinkedIn-button {
          .link-image {
            svg {
              fill: #dddddd;
            }
          }
          &:hover {
            color: #dfdfdf;
            svg {
              fill: #fefefe;
            }
          }
          &:active {
            color: $darker-purple;
            svg {
              fill: #dcb6ff;
            }
          }
        }
        a {
          color: #acacac;
        }
      }
    }
  }
  .Credits {
    .open {
      background-color: #353535;
      .credits-left-side,
      .credits-right-side {
        background-color: #353535;
        border-top: 5px solid $dark-purple;
        border-bottom: 5px solid $dark-purple;
      }
      .credits-left-side {
        border-left: 5px solid $dark-purple;
      }
      .credits-right-side {
        border-right: 5px solid $dark-purple;
      }
      .credits-wrapper {
        h2 {
          color: #dedede;
        }
        .credit-element {
          h3 {
            color: #dedede;
          }
          a {
            color: $purple;
          }
          p {
            color: #cbcbcb;
          }
        }
      }
    }
    .closed {
      a {
        color: #dedede;
      }
      .credits-button {
        background-color: #353535;
        box-shadow: 3px 3px $purple;
      }
    }
  }
  ::-webkit-scrollbar-track {
    background: #555555;
    &:hover {
      background: #666666;
    }
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9a9a9a;
    &:hover {
      background: #5a5a5a;
    }
    &:active {
      background: #555555;
    }
  }
  
  ::-webkit-scrollbar-button {
    background: #555555;
    &:hover {
      background: #666666;
    }
    &:active {
      background: #555555;
    }
  }
}

$blue: #039ef8;
$dark-blue: #008ddf;
$darker-blue: #0c7fc2;

.light {
  .section-title {
    color: #f1f1f1;
    text-shadow: 3px 3px #000000;
  }
  .back-to-top-arrow {
    background-color: #e6e6e6;
    box-shadow: 2px 2px #c4c4c4;
    svg {
      fill: $blue;
    }
    &:hover {
      background-color: #f3f3f3;
      box-shadow: 2px 2px #d3d3d3;
      svg {
        fill: #2fb3ff;
      }
    }
    &:active {
      background-color: #cecece;
      box-shadow: 2px 2px #a8a8a8;
      svg {
        fill: $dark-blue;
      }
    }
  }
  .Navbar {
    .name {
      color: #1b1b1b;
      text-shadow: 1px 1px #938ab4;
    }
    .theme-switch {
      .theme-switch-button {
        svg {
          border-radius: 50%;
          border: 2px solid #aaaaaa;
        }
      }
    }
    .projects-button {
      color: $blue;
      text-shadow: 2px 2px #ffffff;
      &:hover {
        color: $dark-blue;
        text-shadow: 2px 2px #b3b3b3;
      }
      &:active {
        color: $darker-blue;
        text-shadow: 2px 2px #8b8b8b;
      }
    }
    .contact-button {
      background-color: #ffffff;
      color: #363636;
      text-shadow: 2px 2px #cacaca;
      box-shadow: 3px 3px $blue;
      &:hover {
        background-color: $blue;
        color: #ffffff;
      }
      &:active {
        background-color: $darker-blue;
        color: #e1e4ff;
      }
    }
  }
  .Hero {
    .gradient {
      background-image: linear-gradient(90deg, #ececec 50%, #d4d4d4 100%);
      .gradient-left {
        h2 {
          color: #363636;
          text-shadow: 3px 2px #cccccc;
        }
        a {
          background-color: #ffffff;
          color: #363636;
          box-shadow: 4px 4px $blue;
        }
        #show-me-button {
          text-shadow: 2px 1px #cccccc;
          &:hover {
            background-color: #33b1fa;
            color: #ffffff;
            text-shadow: 2px 1px #a0a0a0;
          }
          &:active {
            color: #e6e6e6;
            background-color: $dark-blue;
          }
        }
      }
    }
  }
  .About {
    .about-me-content {
      .about-me-skills,
      .about-me-text {
        background-color: #f8f8f8;
        border-bottom: 5px solid $blue;
        .about-me-paragraph {
          p {
            color: #222222;
            text-shadow: 1.4px 1.4px #929292;
          }
        }
      }
    }
  }
  .Projects {
    h1 {
      color: #f1f1f1;
      text-shadow: 3px 3px #000000;
    }
    .film {
      .projects-content {
        background-color: #2b2b2b;
        .project {
          border-top: 5px solid #2b2b2b;
          border-bottom: 5px solid #2b2b2b;
          &:hover {
            border-bottom: 5px solid $dark-blue;
          }
          .project-image {
            &::after {
              background-color: #000000;
            }
          }
        }
        .blank-project-left,
        .blank-project-right {
          background-color: #212121;
        }
      }
      .film-backside {
        background-color: #1d1d1d;
      }
    }
    .TopSquares,
    .BottomSquares {
      background-color: #2b2b2b;
      .Square,
      .first-square,
      .last-square {
        background-color: #ffffff;
        color: #adadad;
      }
    }
    .project-menu {
      background-color: #fcfcfc;
      .project-menu-top {
        .project-menu-section-button {
          a {
            color: white;
            text-shadow: 2px 2px #f1f1f1;
            &:hover {
              text-decoration-color: $blue;
              color: #2fb3ff;
            }
            &:active {
              color: #2fb3ff;
            }
          }
        }
        .close-menu-button {
          background-color: $blue;
          &:hover {
            background-color: #2fb3ff;
          }
          &:active {
            background-color: #0086d3;
          }
        }
      }
      .project-menu-left-arrow,
      .project-menu-right-arrow {
        svg {
          fill: $blue;
        }
      }
      .project-menu-section {
        .project-menu-photos-section {
          background-color: #2c2c2c;
          .page-content {
            .photos-section-image {
              background-color: #232323;
              .left-arrow,
              .right-arrow {
                svg {
                  fill: $blue;
                }
              }
            }
            .photos-section-text {
              background-color: #444444;
              border-left: 5px solid $blue;
              h2,
              .body-text {
                color: white;
                text-shadow: 2px 2px #212121;
              }
              .made-in-text {
                color: white;
                text-shadow: 1px 1px $blue;
              }
            }
          }
        }
        .project-menu-technology-section {
          background-color: #2c2c2c;
          .technology-wrapper {
            .technology-top {
              border-right: 5px solid $blue;
              p {
                color: white;
                text-shadow: 2px 2px #212121;
              }
            }
            .technology-bottom {
              .skills-wrapper {
                .technology-skill {
                  background-color: $dark-blue;
                  color: white;
                }
              }
            }
          }
        }
        .project-menu-case-study-section {
          background-color: #2c2c2c;
          .page-content {
            .case-study-challenge {
              h2,
              p {
                color: white;
              }
              p {
                border-left: 5px solid $blue;
              }
            }
            .case-study-solution {
              h2,
              p {
                color: white;
              }
              p {
                border-right: 5px solid $blue;
              }
            }
            .case-study-learned {
              h2,
              p {
                color: white;
              }
              p {
                border-left: 5px solid $blue;
              }
            }
            .left-arrow,
            .right-arrow {
              svg {
                fill: white;
              }
            }
          }
        }
      }
    }
  }
  .Contact {
    .contact-content {
      .form {
        .text-input {
          background-color: #dddddd;
          border-bottom: 5px solid $dark-blue;
          color: #5a5a5a;
          &::placeholder {
            color: #f1f1f1;
          }
        }
        #submit-button {
          background-color: #dddddd;
          color: #f7f8ff;
          text-shadow: 2px 1px $darker-blue;
          box-shadow: 3px 3px $blue;
          &:hover {
            background-color: $blue;
            color: #ffffff;
            box-shadow: 3px 3px $dark-blue;
          }
          &:active {
            background-color: $dark-blue;
            color: #e1e4ff;
            box-shadow: 3px 3px $darker-blue;
          }
        }
      }
      .links {
        text-shadow: 2px 2px $blue;
        a {
          color: #acacac;
        }
        #GitHub-button {
          color: #f1f1f1;
          .link-image {
            svg {
              fill: #eeeeee;
            }
          }
          &:hover {
            color: #252525;
            svg {
              fill: #333333;
            }
          }
          &:active {
            color: $dark-blue;
            svg {
              fill: $blue;
            }
          }
        }
        #resume-button {
          color: #f1f1f1;
          .link-image {
            svg {
              fill: #eeeeee;
            }
          }
          &:hover {
            color: #252525;
            svg {
              fill: #333333;
            }
          }
          &:active {
            color: $dark-blue;
            svg {
              fill: $blue;
            }
          }
        }
        #LinkedIn-button {
          color: #f1f1f1;
          .link-image {
            svg {
              fill: #eeeeee;
            }
          }
          &:hover {
            color: #252525;
            svg {
              fill: #333333;
            }
          }
          &:active {
            color: $dark-blue;
            svg {
              fill: $blue;
            }
          }
        }
      }
    }
  }
  .Credits {
    .open {
      background-color: #dedede;
      .credits-left-side,
      .credits-right-side {
        background-color: #dedede;
        border-top: 5px solid $blue;
        border-bottom: 5px solid $blue;
      }
      .credits-left-side {
        border-left: 5px solid $blue;
      }
      .credits-right-side {
        border-right: 5px solid $blue;
      }
      .credits-wrapper {
        h2 {
          color: #676767;
        }
        .credit-element {
          h3,
          p {
            color: #676767;
          }
          a {
            color: $blue;
          }
        }
      }
    }
    .closed {
      .credits-button {
        background-color: #efefef;
        color: #676767;
        box-shadow: 3px 3px $blue;
      }
    }
  }
}

@keyframes fadeInFromBottom {
  0% {
    top: 100%;
    opacity: 0;
  }
  30% {
    top: 80%;
    opacity: 0;
  }
  80% {
    top: 30%;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes creditsSideDivEnlarge {
  0% {
    height: 0px;
  }
  100% {
    height: 180px;
  }
}

@keyframes creditsWrapperEnlarge {
  0% {
    height: 0px;
  }
  100% {
    height: 180px;
  }
}

@keyframes creditsTextFadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}